@import "../../styles/constants";

.z-button {
  background-color: $primary;
  cursor: pointer;
  font-weight: normal;
  text-align: center;
  padding-right: 15px;
  padding-left: 15px;
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}