@import "./variables.module";

html body {
  padding: 0;
  margin: 0;
  text-align: center;
}

body {
  //color: $primaryDarken;
  font-size: $fontSize;
}

@font-face {
  font-family: 'Proxima Nova Bold';
  src: url("../Assets/ProximaNovaBold.ttf") format('truetype');
}

@font-face {
  font-family: 'Proxima Nova Regular';
  src: url("../Assets/ProximaNova.ttf") format('truetype');
}

@font-face {
  font-family: 'Proxima Nova Light';
  src: url("../Assets/ProximaNovaLight.otf") format('opentype');
}

@font-face {
  font-family: 'Nautilus';
  src: url("../Assets/Nautilus.otf") format('opentype');
}