$primary: #54d154;
$primaryDarken: #207b20;
$primaryLighten: #2b9b2b;

$secondary: white;
$secondaryDarken: #828181;
$secondaryLighten: #b7b3b3;

$fontSize: 16px;

//noinspection CssInvalidPseudoSelector,CssUnknownProperty
:export {
  // colors
  primary: $primary;
  primaryDarken: $primaryDarken;
  primaryLighten: $primaryLighten;

  secondary: $secondary;
  secondaryDarken: $secondaryDarken;
  secondaryLighten: $secondaryLighten;

  fontSize: $fontSize;
}