.z-section-7 {
  background-color: #333333;
  padding-top: 50px;

  .z-form {
    :first-child {
      border-radius: 5px 5px 0 0;
    }
    :last-child {
      border-radius: 0 0 5px 5px;
    }
  }

  .z-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #111111;
    text-align: center;
    color: white;
    height: 40px;

    font-family: "Proxima Nova Regular", sans-serif;
  }
}