@import "../../styles/constants.scss";

.page-1 {
    width: 100%;
    background-color: $primary;

    @media #{$desktops-wide} {
        background-image: url("./bg.png");
        background-size: 100% 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
    }

    @media #{$desktops} {
        background-image: url("./bg.png");
        background-size: cover;
    }

    .z-title {
        font-size: 5.5em;
        font-weight: bold;
        color: white;
    }
}

.z-central-button {
    margin: 50px auto;
}

.z-scroll-down-button {
    position: absolute;
    bottom: 20px;
}