@import "../../styles/constants.scss";

.z-nav {
    display: none;
    position: relative;
    margin-left: 40px;

    @media #{$desktops-wide} {
        //padding-left: 40px;
        width: 640px;
        display: flex;
        align-items: center;
    }

    @media #{$desktops} {
        //padding-left: 40px;
        width: 640px;
        display: flex;
        align-items: center;
    }

}

.z-nav .z-nav-link {

    @media #{$desktops-wide} {
        text-decoration: none;
        color: white;
        font-size: 1.25em;
        text-align: center;
        //flex-grow: 1;
        width: 160px;
        cursor: pointer;
    }
}